/* styles.css */

.sidenav {
  height: 100%;
  width: 18vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #1865A5;
  padding-top: 5vh;
  border-radius: 0 25px 25px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidenav a {
  padding: 2vh;
  text-decoration: none;
  font-size: 1.3rem;
  color: #030B11;
  display: block;
  border-radius: 50px;
  background-color: #F9D29F;
  margin-bottom: 8vh;
  width: 15vw;
  text-align: center;
}

.sidenav a:first-child {
  margin-top: 1vh; 
  margin-bottom: 20vh; 
  width: auto;
  font-size: 0.8rem;
  padding: 1vh;
  background-color: transparent;
  
}

.sidenav a:last-child {
  margin-bottom: 18vh;
  margin-top: 5vh;
  font-size: 0.9rem;
  width: 7vw;
}

.sidenav a:nth-child(2):hover { 
  background-color: #EBA74C;
}

.sidenav a:nth-child(3):hover {
  background-color: #EBA74C;
}

.sidenav a:nth-child(4):hover {
  background-color: #EBA74C;
}

#_pages_content {
  margin-left: 0vw;
}

.content {
  padding: auto;
}

.logo {
  width: 100%;
  max-width: 100%;
  height: auto;
}