/* styles.css */
.navbar {
  width: 100%;
  background-color: #1865A5;
  overflow: hidden;
  display: flex;
  justify-content: left;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
}

.navbar a {
  text-decoration: none;
  font-size: 1.2rem;
  color: #030B11;
  display: block;
  border-radius: 50px;
  background-color: #F9D29F;
  text-align: center;
  font-family: 'Aspira';
  padding: 1.5vh 2vw;
}

.navbar a:hover {
  background-color: #EBA74C;
}

.navbar :first-child {
  background-color: transparent !important; /* Remove background color */
  margin-left: 0vw;
  padding: 0;
}

.navbar :first-child:hover {
  background-color: transparent !important; /* Remove hover effect */
}

.navbar :last-child {
  background-color: #EBA74C;
}

.navbar :last-child:hover {
  background-color: #F9D29F;
}

.content {
  padding-top: 15vh; /* To ensure content is not hidden behind the navbar */
}

.logo {
  max-width: 40%;
  height: auto;
}

.text {
  color: #1865A5;
  font-weight: 1000;
  font-size: 3rem;
  margin: 5vh auto;
  font-family: 'Aspira';
  background-color: #F9D29F;
  text-align: center;
  padding: 1vh;
  border-radius: 25px;
  max-width: 90%;
}

.about-us-title {
  margin-top: 0.5vh;
  margin-bottom: 0.5vh;
}

.img-Mariana {
  width: 25%;
  max-width: 25%;
  height: auto;
  transition: transform 0.5s ease;
  position: relative;
  background-color: #F9D29F;
}

.img-Alex {
  width: 25%;
  max-width: 25%;
  height: auto;
  transition: transform 0.5s ease;
  position: flex;
  background-color: #F9D29F;
}

.img-Mariana, .img-Alex {
  border-radius: 50%;
}

.img-Alex:hover, .img-Mariana:hover {
}

.front-Alex, .front-Mary {
  display: flex;
  flex-direction: row;
  align-items: center;

  position: relative;
}

.front-Alex {
  align-items: right;
  justify-content: right;
}

.front-Mary {
  align-items: left;
  justify-content: left;
}

.back-text-Alex {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  position: absolute;
  border-radius: 50%;
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end; /* Align name to bottom */
  font-family: 'Palatino';
  z-index: 1; /* Ensure text is above */
  color: white;
}

.back-text-Mary {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  position: absolute;
  border-radius: 50%;
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end; /* Align name to bottom */
  font-family: 'Palatino';
  z-index: 1; /* Ensure text is above */
  color: black;
}

.front-Alex:hover .back-text-Alex { 
  opacity: 1;
  background-color: #950F37;
}

.front-Mary:hover .back-text-Mary { 
  opacity: 1;
  background-color: #76C1EF;
}


p {
  margin-top: 0;
  margin-bottom: 0;
}

.github {
  width: 5vw;
  max-width: 5vw;
  height: auto;
  margin: 2vh auto;
}

.github-logo {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.about-us-text {
  font-family: 'Aspira';
  font-size: 1rem;
  text-align: center;
  padding: 0.5vh;
  max-width: 90%;
  margin: auto;
}

#brand-dropdown {
  max-width: 90%;
  margin: 2vh auto;
  font-family: 'Aspira';
  font-size: 1rem;
  background-color: #F9D29F;
  border-radius: 25px;
  padding: 1vh;
  display: block;
}

#graph1 {
  width: 100%;
  max-width: 100%;
  height: auto;
}
